:root.theme-light {
  --bg-color: #fff1f7;
  --text-contrast-color: #353430;
  --display-element: none;
  --accent-color: #353430;
  --accent-bg-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --ui-color: #32312d;
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-contrast-color: #353430;
    --display-element: none;
    --accent-color: #353430;
    --accent-bg-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --ui-color: #32312d;
    --bg-image: url("../images/cover-image-light.png");
  }
}
